<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HackNews</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <a href="/" @click.prevent="handleNavClick($event,'top')">Home</a>
                <a href="/top" @click.prevent="handleNavClick($event,'top')">Top</a>
                <a href="/new" @click.prevent="handleNavClick($event,'new')">New</a>
                <a href="/show" @click.prevent="handleNavClick($event,'show')">Show</a>
                <a href="/ask" @click.prevent="handleNavClick($event,'ask')">Ask</a>
                <a href="/jobs" @click.prevent="handleNavClick($event,'job')">Jobs</a>
            </nav>
        </header>
        <main>
            <ul v-if="state === 'story'">
                <li v-for="news in apiData[storyState]">
                    <span> {{news.score}} </span>
                    <span> {{news.title}} </span>
                    <span> {{news.url}} </span>
                    <span @click="handleUserClick(news.by)" style="color: red;"> by {{news.by}} </span>
                    <span> {{news.time}} </span>
                    <span> {{news.descendants}} comments</span>
                </li>
            </ul>

            <div v-if="state === 'user'">
                <h1>User: {{currentUserData.id}} </h1>
                <p>Created: {{currentUserData.created}} </p>
                <p>karma: {{currentUserData.karma}} </p>
                <div v-html="currentUserData.about"></div>
            </div>

        </main>
    </div>

    <script src="./firebaseAPI.js"></script>
    <script src="./main.js"></script>
</body>
</html>